force-app/main/default/flows/TrailEventDispatcherFlow-19.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AnalyseTextFromEvent</name>
        <label>AnalyseTextFromEvent</label>
        <locationX>332</locationX>
        <locationY>38</locationY>
        <actionName>Einstein_Invocable_Language_FromText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WaitForLanguageAnalysis</targetReference>
        </connector>
        <inputParameters>
            <name>CallbackId</name>
            <value>
                <elementReference>TrailEventReplayId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GetIntent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GetSentiment</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IntentModelId</name>
            <value>
                <elementReference>TrailIntentModelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SentimentModelId</name>
            <value>
                <elementReference>StandfordSentimentModelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Text</name>
            <value>
                <elementReference>TrailEventMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>HerokuTrailAppId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HerokuTrailApp</stringValue>
        </value>
    </constants>
    <constants>
        <name>StandfordSentimentModelId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>XZ5MDIX2N3E37MW7RJJOAHTWD4</stringValue>
        </value>
    </constants>
    <constants>
        <name>TmpIdDeleteme</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MyId</stringValue>
        </value>
    </constants>
    <constants>
        <name>TrailFlowId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TrailFlow</stringValue>
        </value>
    </constants>
    <constants>
        <name>TrailIntentModelId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AZPMLTRFSQMZRGCCKZGITU7OVM</stringValue>
        </value>
    </constants>
    <interviewLabel>{!TrailEventReplayId}</interviewLabel>
    <label>TrailEventDispatcherFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Dispatch_Trail_Assistance_Event</name>
        <label>Dispatch Trail Assistance Event</label>
        <locationX>336</locationX>
        <locationY>312</locationY>
        <inputAssignments>
            <field>IntentCategory__c</field>
            <value>
                <elementReference>EinsteinLanguageAnalysisEventVar.MaxIntent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IntentRawResultJSON__c</field>
            <value>
                <elementReference>EinsteinLanguageAnalysisEventVar.IntentRawResultJSON__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageTone__c</field>
            <value>
                <elementReference>EinsteinLanguageAnalysisEventVar.MaxSentiment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>TrailEventMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalReplayId__c</field>
            <value>
                <elementReference>TrailEventReplayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SenderId__c</field>
            <value>
                <elementReference>TrailFlowId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SentimentRawResultJSON__c</field>
            <value>
                <elementReference>EinsteinLanguageAnalysisEventVar.SentimentRawResultJSON__c</elementReference>
            </value>
        </inputAssignments>
        <object>Notification__e</object>
    </recordCreates>
    <startElementReference>AnalyseTextFromEvent</startElementReference>
    <variables>
        <name>EinsteinLanguageAnalysisEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Einstein_Language_Event__e</objectType>
    </variables>
    <variables>
        <name>InputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrailEventInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification__e</objectType>
    </variables>
    <variables>
        <name>TrailEventMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TrailEventReplayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>WaitForLanguageAnalysis</name>
        <label>WaitForLanguageAnalysis</label>
        <locationX>339</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>LanguageAnalysisEvent</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Dispatch_Trail_Assistance_Event</targetReference>
            </connector>
            <eventType>Einstein_Language_Event__e</eventType>
            <inputParameters>
                <name>CallbackId__c</name>
                <value>
                    <elementReference>TrailEventReplayId</elementReference>
                </value>
            </inputParameters>
            <label>LanguageAnalysisEvent</label>
            <outputParameters>
                <assignToReference>EinsteinLanguageAnalysisEventVar</assignToReference>
                <name>Einstein_Language_Event__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
